@import "tailwindcss";
@import "primeicons/primeicons.css";

html,
body {
  @apply h-full m-0;
  color: white;
}

/* ==========================================================================
  Kanban (kanban.vue) 
  Ces classes servent à styliser les éléments "draggables" du tableau Kanban.
========================================================================== */

/* Classe du conteneur d’un élément draggable du Kanban */
.draggable-item {
  @apply flex justify-between items-center rounded-md p-2 mb-2 shadow-md cursor-grab bg-gray-600;
}

/* Classe de l’icône de suppression affichée au survol du conteneur */
.draggable-trash {
  @apply text-red-700 cursor-pointer opacity-0 group-hover:opacity-100 transition-opacity duration-200;
}