@import "tailwindcss";
@import "primeicons/primeicons.css";

html, body {
  @apply h-full m-0;
  color: white;
}

.app .p-dialog {
 @apply bg-gray-700 placeholder:text-white border-gray-500
}

.app .p-textarea,
.app .p-inputtext,
.app .p-select  {
 @apply !border-gray-500 placeholder:text-gray-400 text-white
}

.app .p-select-label {
  @apply text-white
}

.app .p-select-option.p-select-option-selected {
   @apply bg-gray-500
}

.app .p-select-option,
.app .p-select-option.p-select-option-selected {
   @apply text-white
}